body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0
}

/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset, img {
    border: 0 none
}

/* 重置fieldset（表单分组）、图片的边框为0*/
dl, ul, ol, menu, li {
    list-style: none
}

/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {
    quotes: none
}

/* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

/* 重置嵌套引用*/
input, select, textarea, button {
    vertical-align: middle
}

/* 重置表单控件垂直居中*/
button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

/* 重置表单button按钮效果 */
body {
    background: #fff
}

/* 重置body 页面背景为白色 */
body, th, td, input, select, textarea, button {
    font-size: 12px;
    line-height: 1;
    font-family: "微软雅黑", "黑体", "宋体";
    color: #666
}

/* 重置页面文字属性 */
a {
    color: #666;
    text-decoration: none
}

/* 重置链接a标签 */
a:active, a:hover {
    text-decoration: none
}

/* 重置链接a标签的鼠标滑动效果 */
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal
}

/* 重置样式标签的样式 */
caption {
    display: none;
}

/* 重置表格标题为隐藏 */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

/* 重置table属性 */
img {
    vertical-align: top
}

/* 图片在当前行内的垂直位置 */
/* 取消a标签点击后的虚线框 */
a {
    outline: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

/*清除浮动*/
.clear {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.top-header{
    width: 1200px;
    margin: 0 auto;
}

/* 顶部导航 */
.logo {
    float: left;
}

.logo a {
    font-size: 30px;
    padding: 10px 20px;
    color: #ff5e54;
    font-weight: bold;
}

.logo a img {
    width: 200px;
}

.search-box {
    padding: 37px 10% 15px;
    margin-left: 700px;
}

.search-box ul li {
    float: left;
    padding: 7px 10px;
    color: #ff5e54;
    font-size: 14px;
    text-decoration: underline;
}

.search-box input {
    float: left;
    border: 2px solid #ff5e54;
    padding: 5px 10px;
    font-size: 15px;
}

.search-btn {
    float: left;
    background-color: #ff5e54;
    color: white;
    height: 34px;
    line-height: 34px;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 15px;
}

.top-nav {
    background-color: #ff5e54;
    color: white;
    width: 100%;
}

.top-nav ul{
    width: 1200px;
    margin: 0 auto;
}

.top-nav ul li {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 10px 50px;
}
.top-nav-select{
    background-color: #ee2d21;
}

.top-nav ul li:first-child{
    width: 100px;
}

.top-nav ul li a {
    color: white;
}

/* 底部样式 */
.bottom-icp {
    position: relative;
    top: -6px;
    color: #939393;
    left: 5px;
}